# Created by .ignore support plugin (hsz.mobi)

# Compiled Python modules
*.pyo
*.pyc

# SQLite
*.db
*.s3db
*.sqlite3

# Mercurial backup files
*.orig
*.rej

*components
*node_modules
*npm-debug.log

# Supervisor files
supervisord.log
supervisord.pid
supervisord.conf

# Emacs save files
*~
\#*
.\#*

# Vim n co
*.swp
.ropeproject/

# Vagrant private files
.vagrant/*
log
celerybeat-schedule
celerybeat.pid
erl_crash.dump
build/
node
node-*
.idea/
.DS_Store

*.*.swp
.directory
local_development.py
local_manage.py
*.kate-swp
*.swo

celerybeat.pid
.kateproject
.kateproject.d/

celerybeatdir
pip-delete-this-directory.txt
last_deploy.txt


# ingore virtualenv
.venv
.elasticbeanstalk/config.yml
log
*.pyc

# Elastic Beanstalk Files
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.env
update-env.py

#eclipse project files
.project
.pydevproject
#.elasticbeanstalk/config.yml

#selenium
ghostdriver.log
*.log
*.retry

#Coverage
.coverage
